
  .card-container {
   --bs-gutter-x: 1.5rem;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
 
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(250, 0, 0, 0.75);
    border-radius: 0.25rem;
}