
 .nav-link{
    font-size: larger;
  }

  .link{
    color: aliceblue;
    text-decoration: none;
  }

  .card-container{
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    margin-left: 1rem;
    margin-top: 1rem;
    min-width: 10rem;
}

  .card .card-body{
    background-color: rgba(210, 227, 204, 0.378);
  }

  .card-img-top {
    position: relative;
  }

  .card-a {
    position: absolute;
    text-decoration: none;   
    left: 1;
    right: 0;
    border-color: white;
    font-size: larger;
   
  }